<footer class="site-footer" role="contentinfo">
  <div class="container">
    <p class="mb-025 text-center"><small>© {{ "now"|date('Y') }} {{ bloginfo('name') }} | {{ bloginfo('description') }}.</small></p>
    <ul class="mb-0 list-inline text-center tiny">
      <li><a href="mailto:{{ site_settings.site_email_address }}" class="link-white link-underline">Email</a></li>
      <li><a href="{{ social.twitter }}" target="_blank" class="link-twitter-white link-underline">Twitter</a></li>
      <li><a href="{{ social.linkedin }}" target="_blank" class="link-linkedin-white link-underline">Linkedin</a></li>
    </ul>
  </div>
</footer><!-- .site-sub-footer -->