<div class="grid__item grid__item--util-menu">

  <small class="block-list-label">Projects</small>
  
  <ul class="block-list">
    {% for project in projects %}
    <li>
      <a href="{{ project.get_permalink }}" title="{{ project.title|striptags }}" class="block-list__link--{{ project.slug }}">{{ project.title|striptags }}
      </a>
      <div class="block-list__bg"  data-style="background-image: url({{ project.get_field('nav_image').sizes.featured }})">
      </div>
    </li>
    {% endfor %}
  </ul>

</div>