{% if tab_label %}
  <header class="container">
    <span class="tab-label">{{ tab_label }}</span>
  </header>
{% endif %}

<section class="tiles">
  {% spaceless %}

    {% for project in projects %}
    <article class="tile tile--project">

      <div class="tile__bg" style="background-color: {{ project.color }}; opacity: 0.12"></div>

      <div class="tile__body">

        {% if project.thumbnail %}
        <div class="tile__img tile__img--project">
          <a href="{{ project.link }}" class="browser-shot browser-shot--scroll" data-scroll-section>
            {{ macros.img(project.thumbnail, 'featured-md') }}
          </a>
        </div>
        {% endif %}

        <div class="tile__content">
          <h3 class="tile__title">{{ project.title }}</h3>

          {% if project.post_excerpt %}
            <p class="tile__excerpt">{{ project.post_excerpt }}</p>
          {% endif %}

          <div class="mt-1">

            <a href="{{ project.link }}" class="btn btn--{{ project.slug }}" title="View Project">
              View Project
            </a>
          </div>
        </div>
      </div> 

    </article>
    {% endfor %}

  {% endspaceless %}
</section>