{% if projects %}
  <section class="page-section page-section--listing">
    
    {% if tab_label %}
      <header class="container">
        <span class="tab-label">{{ tab_label }}</span>
      </header>
    {% endif %}

    <div class="container container--lg">
      <div class="tiles">

        {% for project in projects %}

          {% set tile_class = 'tile tile--' ~ (loop.index0 % 2 == 0 ? 'even' : 'odd') %}
          
          {% if listing_link %}
            {% set tile_variation = ( loop.index == 1 ? 'tile--featured' )%}
          {% endif %}

          <a class="{{ tile_class }} {{ tile_variation }} tile--project"  href="{{ project.link }}">
            
            <span class="tile__bg" style="background-color: {{ project.color }};"></span>

            {% if project.thumbnail %}
              <div class="tile__img">
                <figure class="browser-shot browser-shot--scroll" data-scroll-section>
                  {{ macros.img(project.thumbnail, 'featured-sm') }}
                </figure>
              </div>
            {% endif %}

            <div class="tile__container">

              <h2 class="tile__title">{{ project.title }}</h2>

              {% if project.post_excerpt %}
                <p class="tile__excerpt">{{ project.post_excerpt }}</p>
              {% endif %}

              <div class="mt-1">
                <button class="btn btn--{{ project.slug }} btn--sm btn--tile" title="View Project">
                  View Project
                </button>
              </div>

            </div>

          </a>

          {% if loop.index == 1 and listing_link %}
            {% include 'includes/tile-link.twig' %}
          {% endif %}

        {% endfor %}

      </div>
    </div>
  </section>
{% endif %}

