{% extends "layouts/base.twig" %}

{% block masthead %}

  <div class="hero">

    <div class="container">

      <h2 class="hero__title">Hello there, <span class="ib">I&rsquo;m Felipe</span></h2>
      <h1 class="hero__subtitle">Front End <span class="ib">Developer +</span> <span class="ib">Interaction Designer</span></h1>

      <div class="grid mb-1-">

        <p class="grid__item p-max">I artchitect and build websites for companies & organizations across North America, specializing in developing modern & clean user interfaces. <br>
          <a href="{{ post_about.get_permalink }}" class="link-underline">More about me</a>
        </p>
        <p class="grid__item one-whole md-one-half">
          Currently, I’m working with the great folks at <a href="{{ briteweb_url }}" target="_blank" class="link-underline link-briteweb">Briteweb</a> doing awesome work in the non-for-profit sector.
        </p>

        <p class="grid__item one-whole md-one-half">
           You can find me on: <br> <a href="{{ social.linkedin }}" target="_blank" class="link-underline link-linkedin">Linkedin</a>,
           <a href="{{ social.twitter }}" target="_blank" class="link-underline link-twitter">Twitter</a> &amp;
           <a href="{{ social.github }}" target="_blank" class="link-underline link-github">Github</a>. <br>
        </p>

      </div>
      
    </div>

  </div>

{% endblock %}

{% block content %}

  {% include 'includes/post-listing.twig' with {
    posts: featured_posts,
    tab_label: 'Articles',
    listing_link : {
      label: 'View All Articles',
      link: post_writing.get_permalink
    }
  }%}

  {% include 'includes/project-listing.twig' with { 
    projects: projects[:2],
    tab_label: 'Recent Work',
    listing_link: {
      label: 'View All Projects',
      link: post_work.get_permalink
    }
  } %}
  
{% endblock %}

{% block bottom %}
  {% include('includes/cta.twig') %}
{% endblock %}