{% extends "layouts/base.twig" %}

{% block styles %}
  {{ macros.project_styles([post, next_post, prev_post]) }}
{% endblock %}

{% block masthead %}

  <section class="mtb-1--f container">

    <div class="grid">
      <div class="grid__item one-whole md-seven-tenths lg-three-fifths">
        <h1>{{ post.title }}</h1>
        <div class="container--xs mb-0--lc">{{ post.content }}</div>
      </div>

      <div class="grid__item one-whole md-three-tenths lg-two-fifths">
        
        <div class="grid">
          <p class="grid__item one-whole xs-one-half sm-two-fifths md-one-whole mtb-05 grow-0">
            {% if post.roles %}
            <span class="label">Role{{ post.roles|length > 1 ? 's' }}</span>
            <span class="strong">
            {% for role in post.roles %}
              {{ role }}<br>
            {% endfor %}
            </span>
            {% endif %}
          </p>
          <p class="grid__item one-whole xs-one-half sm-one-third md-one-whole mtb-05 grow-0">
            {% if agency %}
              <span class="label">Agency</span>
              <a href="{{ agency.website }}" class="link-underline link-plain" target="_blank">{{ agency.title }}</a>
            {% endif %}
          </p>
          <p class="grid__item one-whole sm-one-fifth mt-05 mb-0">
            {% if post.project_url %}
              <a href="{{ post.project_url }}" target="_blank" class="btn btn--squared btn--{{ post.slug }}">Visit Site</a>
            {% endif %}
          </p>
        </div>

      </div>
    </div>

  </section>

  {% include 'includes/media-block.twig' with { image: post.thumbnail, type: 'img' } %}

{% endblock %}

{% block content %}

  {% for layout in post.get_field('full_width_content') %}
    {% set view  = 'includes/section-' ~ layout.acf_fc_layout|replace({'_' : '-'}) ~ '.twig'  %}
    {% if layout|length and view|view_exists %}
      {% include view with { 
        layout : layout 
      } %}
    {% endif %}
  {% endfor %}
  
{% endblock %}

{% block bottom %}
  {% if post.project_url %}
  <div class="container mtb-1--f">
    <p class="text-center">
      <a href="{{ post.project_url }}" target="_blank" class="btn btn--cta btn--{{ post.slug }}">Visit Site</a>
    </p>
  </div>
  {% endif %}
  {% include('includes/project-nav.twig') with { 
    project: next_post
  } %}

  {% include('includes/cta.twig') %}
    
{% endblock %}